@font-face {
  font-family: 'montserrat', sans-serif;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat', sans-serif;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat', sans-serif;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto', sans-serif;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway', sans-serif;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway', sans-serif;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway', sans-serif;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway', sans-serif;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'raleway', sans-serif;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #998675;
  padding: 14px 39px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
}

.btn:hover,
.btn:focus {
  background-color: #927b66;
}

.btn:active {
  background-color: rgba(146, 123, 102, 0.7);
}

.section-header {
  max-width: 719px;
  text-align: center;
  margin: 0 auto;
}

.section-header__title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555;
  margin: 0 0 25px 0;
  padding: 82px 0 0 0;
}

.section-header__text {
  line-height: 1.75;
  margin: 0 0 40px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.selected {
  color: #c7b299;
}

button.selected {
  background-color: #998675;
  color: #fff;
}

@media (max-width: 480px) {
  .section-header {
    max-width: 450px;
  }
  .section-header__title {
    padding: 30px 0 0 0;
  }
}

.header {
  padding: 40px 0 0 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn {
  fill: #fff;
  -webkit-transition: 0.3s fill linear;
  transition: 0.3s fill linear;
}

.header__btn + .header__btn {
  margin: 0 0 0 28px;
}

.header__btn:hover, .header__btn:focus {
  fill: #c7b299;
}

.header__btn:active {
  fill: rgba(199, 178, 153, 0.7);
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .hamburger-menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .hamburger-menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .hamburger-menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .hamburger-menu__list {
  visibility: visible;
  left: 0;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40px;
  right: 20px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  z-index: 1;
}

.hamburger-menu__btn > span,
.hamburger-menu__btn > span::before,
.hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 9px;
  background-color: #111;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu__btn > span::before {
  content: '';
  top: -15px;
}

.hamburger-menu__btn > span::after {
  content: '';
  top: 15px;
}

.hamburger-menu__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #555;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu__link {
  font-family: 'raleway', sans-serif;
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hamburger-menu__link:hover, .hamburger-menu__link:focus {
  background-color: #c7b299;
}

.hamburger-menu__link:active {
  background-color: rgba(199, 178, 153, 0.7);
}

@media (max-width: 480px) {
  .hamburger-menu {
    display: block;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'raleway', sans-serif;
  font-size: 34px;
  max-width: 181px;
}

.logo__icon {
  fill: #fff;
}

.nav {
  color: #fff;
  font-size: 14px;
  margin: 0 0 0 165px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item + .nav__item {
  margin: 0 0 0 29px;
}

.nav__link {
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
}

.nav__link:hover, .nav__link:focus {
  color: #c7b299;
}

.nav__link:active {
  color: rgba(199, 178, 153, 0.7);
}

@media (max-width: 480px) {
  .header__buttons {
    display: none;
  }
}

.slider {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../img/slider-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-color: #555;
  color: #fff;
}

.slider:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
}

.slider__wrap {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.slider__btn-left, .slider__btn-right {
  fill: rgba(255, 255, 255, 0.5);
}

.slider__btn-left:hover, .slider__btn-left:focus, .slider__btn-right:hover, .slider__btn-right:focus {
  fill: #c7b299;
}

.slider__btn-left:active, .slider__btn-right:active {
  fill: rgba(199, 178, 153, 0.7);
}

.slider__suptitle {
  font-size: 36px;
  font-weight: 500;
  font-family: 'raleway', sans-serif;
  margin: 0 0 14px 0;
}

.slider__title {
  font-size: 52px;
  font-weight: 800;
  font-family: 'raleway', sans-serif;
  margin: 0 0 19px 0;
}

.slider__text {
  line-height: 1.5;
  margin: 0 0 52px 0;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__input {
  width: 11px;
  height: 11px;
  opacity: 0.5;
}

.slider__input:active {
  border: solid 2px #d3c1ad;
  background-color: transparent;
}

.slider__input + .slider__input {
  margin: 0 0 0 10px;
}

@media (max-width: 480px) {
  .slider {
    height: 100%;
    min-height: 150px;
    background-position: center;
  }
  .slider__content,
  .slider__btn-left,
  .slider__btn-right {
    display: none;
  }
}

.services {
  padding: 80px 0 80px 0;
}

.services__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  position: relative;
  width: 24%;
  text-align: center;
}

.services__item:after {
  position: absolute;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s background-color linear;
  transition: 0.3s background-color linear;
}

.services__icon {
  fill: #555;
  margin: 0 0 24px 0;
  -webkit-transition: 0.3s fill linear;
  transition: 0.3s fill linear;
}

.services__title {
  font-family: 'raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 12px 0;
  -webkit-transition: 0.3s color linear;
  transition: 0.3s color linear;
  color: #555;
}

.services__text {
  line-height: 1.5;
}

.services__item:hover .services__icon {
  fill: #c7b299;
}

.services__item:hover .services__title {
  color: #c7b299;
}

.services__item:hover.services__item:after {
  background-color: #c7b299;
}

@media (max-width: 480px) {
  .services {
    padding: 50px 0 40px 0;
  }
  .services__item {
    width: 95%;
    margin: 0 0 50px 0;
  }
}

.ideas {
  background-color: #fbfaf8;
}

.ideas__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 482px;
}

.ideas__img {
  position: absolute;
  bottom: 0;
}

.ideas__img:first-child {
  left: -30px;
  z-index: 1;
}

.ideas__img:nth-child(2) {
  left: 200px;
  z-index: 2;
}

.ideas__img:last-child {
  right: -30px;
  z-index: 1;
}

.ideas__img:hover {
  z-index: 10;
}

@media (max-width: 480px) {
  .ideas {
    display: none;
  }
}

.theme {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 48px 0;
}

.theme__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme__title {
  font-family: 'raleway', sans-serif;
  font-size: 28px;
  color: #fff;
  margin: 0 0 8px 0;
}

.theme__title span {
  color: #c7b299;
}

.theme__link {
  padding: 14px 28px;
}

@media (max-width: 480px) {
  .theme {
    display: none;
  }
}

.project {
  padding: 0 0 80px 0;
}

.project__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}

.project__tabs-btn {
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  border: 1px solid #ebebeb;
  padding: 9px 21px;
  border-radius: 3px;
  -webkit-transition: 0.3s color linear, 0.3s background-color linear;
  transition: 0.3s color linear, 0.3s background-color linear;
}

.project__tabs-btn:hover, .project__tabs-btn:focus {
  color: #fff;
  background-color: #998675;
}

.project__tabs-btn:active {
  background-color: rgba(153, 134, 117, 0.7);
}

.project__tabs-btn {
  margin: 0 0 0 10px;
}

.project__tabs-btn:first-child {
  margin: 0 0 0 0;
}

.project__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__item {
  width: 32%;
  margin: 0 0 30px 0;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.project__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
  display: none;
}

.project__item:hover:before {
  display: block;
}

.project__item:hover .project__btn {
  display: block;
}

.project__item:hover .project__item-wrap {
  background-color: #362f2d;
}

.project__item:hover .project__item-wrap:before {
  border-bottom: 10px solid #362f2d;
}

.project__item:hover .project__item-title {
  color: #fff;
}

.project__item:hover .project__item-text {
  color: #c7b299;
}

.project__img {
  display: block;
  width: 100%;
}

.project__item-wrap {
  width: 100%;
  position: relative;
  background-color: #fbfaf8;
  padding: 30px 28px 27px 28px;
}

.project__item-wrap:before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 19px;
}

.project__item-title {
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #c7b299;
}

.project__item-text {
  color: #d1d1d1;
}

.project__btn {
  fill: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  -webkit-transition: 0.3s fill linear;
  transition: 0.3s fill linear;
}

.project__btn-search {
  margin: 0 0 0 28px;
}

.project__btn-link:hover, .project__btn-search:hover, .project__btn-link:focus, .project__btn-search:focus {
  fill: #927b66;
}

.project__btn-link:active, .project__btn-search:active {
  fill: rgba(146, 123, 102, 0.7);
}

.project__button {
  display: block;
  margin: 10px auto 0;
}

@media (max-width: 480px) {
  .project {
    padding: 0 0 40px 0;
  }
  .project__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px 0;
  }
  .project__tabs-btn {
    margin: 0 0 15px 10px;
  }
  .project__tabs-btn:first-child {
    margin: 0 0 15px 0;
  }
  .project__item {
    width: 95%;
    margin: 0 auto 20px;
  }
}

.video {
  position: relative;
  background-image: url("../img/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555;
  color: #fff;
  width: 100%;
  height: 100vh;
}

.video:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
  opacity: 0.5;
}

.video__file {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__content {
  position: absolute;
  max-width: 561px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.video__content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.video__content-icon {
  fill: #fff;
}

.video__content-btn:hover .video__content-icon,
.video__content-btn:focus .video__content-icon {
  fill: #927b66;
}

.video__content-btn:active .video__content-icon {
  fill: rgba(146, 123, 102, 0.7);
}

.video__title {
  font-family: 'raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.video__text {
  line-height: 1.75;
  margin: 0 0 30px 0;
}

.video__time {
  font-size: 14px;
  color: #c7b299;
}

@media (max-width: 480px) {
  .video {
    display: none;
  }
}

.devices__container {
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  background-position: 50px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 194px 0 183px 0;
}

.devices__content {
  max-width: 665px;
}

.devices__title {
  font-size: 30px;
  font-weight: 600;
  color: #555;
  font-family: 'raleway', sans-serif;
  margin: 0 0 39px 0;
}

.devices__text {
  line-height: 1.75;
  margin: 0 0 35px 0;
}

.devices__item {
  position: relative;
  line-height: 2;
  padding: 0 0 0 113px;
}

.devices__item:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/arrow-devices.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 480px) {
  .devices__container {
    background-image: none;
    padding: 40px 15px 40px 15px;
  }
  .devices__content {
    max-width: 450px;
  }
  .devices__title {
    margin: 0 0 15px 0;
  }
  .devices__item {
    padding: 0 0 0 30px;
  }
  .devices__item:before {
    left: 0;
  }
}

.statistics {
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 120px 0 90px;
}

.statistics__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 8%;
}

.statistics__item {
  position: relative;
  width: 15%;
  text-align: center;
}

.statistics__item:before {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: contain;
  top: -65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.statistics__item-clients:before {
  background-image: url("../img/icons/statistics/1.svg");
}

.statistics__item-coffee:before {
  background-image: url("../img/icons/statistics/2.svg");
  width: 48px;
}

.statistics__item-blog:before {
  background-image: url("../img/icons/statistics/3.svg");
}

.statistics__item-likes:before {
  background-image: url("../img/icons/statistics/4.svg");
}

.statistics__item-launched:before {
  background-image: url("../img/icons/statistics/5.svg");
  width: 54px;
}

.statistics__item:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.statistics__number {
  font-size: 48px;
  color: #fff;
  margin: 0 0 15px 0;
}

.statistics__title {
  font-size: 14px;
  color: #c7b299;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .statistics {
    padding: 120px 0 0 0;
  }
  .statistics__item {
    width: 50%;
    margin: 0 0 150px 0;
  }
  .statistics__item:last-child {
    margin: 0 0 100px 0;
  }
}

.posts {
  padding: 0 0 80px 0;
}

.posts__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px;
}

.posts__item {
  width: 32%;
  position: relative;
  border: 1px solid #f8f8f8;
}

.posts__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
  display: none;
}

.posts__item:hover:before {
  display: block;
}

.posts__item:hover .posts__content {
  background-color: #362f2d;
  z-index: 1;
}

.posts__item:hover .posts__title {
  color: #c7b299;
}

.posts__item:hover .posts__text {
  color: #fff;
}

.posts__item:hover .posts__date-day {
  background-color: #c7b299;
}

.posts__item:hover .posts__date-month {
  background-color: #a48d72;
}

.posts__img {
  display: block;
  width: 100%;
}

.posts__date {
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.posts__date-day {
  display: block;
  background-color: #363636;
  font-size: 24px;
  border-radius: 3px 3px 0 0;
  padding: 4px 10px;
}

.posts__date-month {
  display: block;
  background-color: #252525;
  font-size: 12px;
  font-family: 'roboto', sans-serif;
  border-radius: 0 0 3px 3px;
  padding: 5px 10px;
}

.posts__content {
  position: relative;
  width: 100%;
  padding: 30px;
}

.posts__title {
  font-family: 'raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  margin: 0 0 15px 0;
}

.posts__text {
  font-size: 14px;
  line-height: 1.57;
  color: #8c8c8c;
  margin: 0 0 20px 0;
}

.posts__link {
  display: block;
  position: relative;
  font-size: 14px;
  color: #c7b299;
}

.posts__link:before {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
  left: 80px;
  top: 4px;
}

.posts__link:hover, .posts__link:focus {
  color: rgba(199, 178, 153, 0.7);
}

.posts__link:hover:before, .posts__link:focus:before {
  border-left: 5px solid rgba(199, 178, 153, 0.7);
}

.posts__link:active {
  color: rgba(199, 178, 153, 0.5);
}

.posts__link:active:before {
  border-left: 5px solid rgba(199, 178, 153, 0.5);
}

.posts__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts__btn {
  display: block;
  width: 24px;
  height: 24px;
  fill: #d1d1d1;
}

.posts__btn:hover, .posts__btn:focus {
  fill: #c7b299;
}

.posts__btn:active {
  fill: rgba(199, 178, 153, 0.7);
}

.posts__btn + .posts__btn {
  margin: 0 0 0 8px;
}

@media (max-width: 480px) {
  .posts {
    padding: 0 0 0 0;
  }
  .posts__item {
    width: 95%;
    margin: 0 auto 15px;
  }
  .posts__controls {
    display: none;
  }
}

.partners {
  position: relative;
  background-image: url("../img/partners-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #555;
  padding: 140px 0;
}

.partners:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
}

.partners__list {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item {
  width: 18%;
}

.partners__link {
  display: block;
}

.partners__link:hover, .partners__link:focus {
  opacity: 0.7;
}

.partners__link:active {
  opacity: 0.5;
}

.partners__img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .partners {
    padding: 50px 0;
  }
}

.footer__content {
  background-color: #191919;
  padding: 108px 0 81px;
}

.footer__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content-item {
  width: 22.5%;
}

.footer__content-item:first-child {
  margin: -26px 0 0 0;
}

.footer__logo {
  margin: 0 0 29px 0;
}

.footer__content-text {
  color: #555;
  font-size: 14px;
  line-height: 1.71;
  margin: 0 0 18px 0;
}

.footer__content-reference {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 1.43;
  color: #d1d1d1;
}

.footer__content-reference:before {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
  left: 84px;
  top: 5px;
}

.footer__content-reference:hover, .footer__content-reference:focus {
  color: #c7b299;
}

.footer__content-reference:hover:before, .footer__content-reference:focus:before {
  border-left: 5px solid #c7b299;
}

.footer__content-reference:active {
  color: rgba(199, 178, 153, 0.7);
}

.footer__content-reference:active:before {
  border-left: 5px solid rgba(199, 178, 153, 0.7);
}

.footer__content-title {
  font-family: 'raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 30px 0;
}

.footer__content-link {
  display: block;
  font-size: 14px;
  color: #555;
  line-height: 1.43;
  border-bottom: 2px solid #252525;
  padding: 0 0 21px 0;
  margin: 0 0 19px 0;
}

.footer__content-link:hover .footer__content-link-date,
.footer__content-link:focus .footer__content-link-date {
  color: #fff;
}

.footer__content-link:active .footer__content-link-date {
  color: rgba(255, 255, 255, 0.7);
}

.footer__content-link:hover .footer__content-link-text,
.footer__content-link:focus .footer__content-link-text {
  color: #c7b299;
}

.footer__content-link:active .footer__content-link-text {
  color: rgba(199, 178, 153, 0.7);
}

.footer__content-link-date {
  font-size: 12px;
  color: #363636;
  line-height: 1.67;
}

.footer__content-link-text--blue {
  color: #00bff3;
}

.footer__content-link-text--white {
  color: #959595;
}

.footer__widget-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.footer__widget-item {
  width: 48%;
  margin: 0 0 10px 0;
}

.footer__img {
  display: block;
  width: 100%;
}

.footer__contacts {
  background-color: #111;
  padding: 46px 0 52px 0;
}

.footer__contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #555;
}

.footer__contacts-text, .footer__contacts-link {
  border-right: 1px solid #252525;
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
}

.footer__contacts-text:last-child, .footer__contacts-link:last-child {
  border: none;
}

.footer__contacts-text a {
  color: #959595;
}

.footer__contacts-link:hover,
.footer__contacts-text:hover a, .footer__contacts-link:focus {
  color: #c7b299;
}

.footer__contacts-text a:focus {
  color: #c7b299;
}

.footer__contacts-link:active,
.footer__contacts-text:active a {
  color: rgba(199, 178, 153, 0.7);
}

.selected .footer__content-link-date {
  color: #fff;
}

.selected .footer__content-link-text {
  color: #c7b299;
}

@media (max-width: 480px) {
  .footer__content {
    display: none;
  }
  .footer__contacts {
    padding: 36px 0 25px 0;
  }
  .footer__contacts-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contacts-col {
    margin: 0 0 20px 0;
  }
  .footer__contacts-text,
  .footer__contacts-link {
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
  }
}
