*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $text-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: 'Raleway', sans-serif;
    // font-family: 'Roboto', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: $text-light;
    border-radius: 3px;
    background-color: $btn-color;
    padding: 21px 38px;
    box-shadow: inset 0px -3px 0 0 $box-shadow-color;
}

.btn:hover,
.btn:focus {
    background-color: $hover-btn;
}

.btn:active{
    background-color: rgba($hover-btn, 0.7);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

