$text-light: #fff;
$text-dark: #8c8c8c;
$hover-color: #c7b299;
$btn-color: #998675;
$hover-btn:  #927b66;
$box-shadow-color: #736357;
$text-icon-color: #555;
$line-color: #f1eee9;
$brownout-color: rgba(17,17,17,0.7);
$bg-color: #fbfaf8;
$text-project-color: #d1d1d1;
$hover-project: #362f2d;