.header{
    padding: 40px 0 0 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    &__btn {
        fill: $text-light;
        transition: 0.3s fill linear;
    }

    &__btn + &__btn {
        margin: 0 0 0 28px;
    }

    &__btn:hover,
    &__btn:focus {
        fill: $hover-color;
    }
 
    &__btn:active {
        fill: rgba($hover-color, 0.7); 
    }
}

@media (max-width: 480px) {
    .nav {
        display: none;
    }
}
