.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-light;
    font-family: 'raleway', sans-serif;
    font-size: 34px;
    &__icon{
        fill: $text-light;
    }
}