.nav {
    color: $text-light;
    font-size: 14px;
    margin: 0 0 0 165px;
    &__list {
        display: flex;
    }

    &__item + &__item {
        margin: 0 0 0 29px;
    }

    &__link {
        transition: 0.3s color linear;
    }

    &__link:hover,
    &__link:focus {
    color: $hover-color;
}

    &__link:active {
        color: rgba($hover-color, 0.7);
    }
}

