.partners {
    position: relative;
    background-image: url("../img/partners-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $text-icon-color;
    padding: 140px 0;
    
    &:before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $brownout-color;
    }

    &__list {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

     &__link:hover,
     &__link:focus {
        opacity: 0.7;
     }

     &__link:active {
        opacity: 0.5;
     }

    &__link {
        display: block;
    }
}