.statistics {
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 69px 0 60px 0;

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        width: 125px;
    }
}