.theme {
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    padding: 48px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: 'raleway', sans-serif;
        font-size: 28px;
        color: $text-light;
        margin: 0 0 8px 0;
        span {
            color: $hover-color;
        }
    }

    &__link {
        padding: 14px 28px
    }
}

@media (max-width: 480px) {
    .theme {
        display: none;
    }
}